# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

# Fortran module files
*.mod
*.smod

# Precompiled Headers
*.gch
*.pch

# Prerequisites
*.d

# Project related
figs/
*.athdf
*.binp
*.dat
*.fits
*.hst
*.inp
!dustkappa_*.inp
Makefile
*.npz
*.out
*old*
temp/
*.txt
!temp_table.txt
!kappa_rf_table.txt
!kappa_sf_table.txt
!kappa_af_table.txt
!kappa_pf_table.txt
*SZ*

# VS Code
*.code-workspace
