# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Fortran module files
*.mod
*.smod

# Precompiled Headers
*.gch
*.pch

# Prerequisites
*.d

# Project related
/radmc3d
/output

# VS Code
*.code-workspace
